<div id="offCanvas" class="off-canvas position-right" data-off-canvas data-position="right">
    <nav class="nav-off-canvas" role="navigation">
        <ul class="vertical menu" data-accordion-menu>
            {% for item in menu.get_items %}
                <li class="{{ item.classes | join(' ') }}">
                    <a href="{{ item.get_link }}">{{ item.title }}</a>

                    {# Get child menu items. #}
                    {% if item.get_children %}
                        <ul class="menu vertical" data-accordion-menu>
                            {% for child in item.get_children %}
                                <li class="{{ item.classes | join(' ') }}">
                                    <a href="{{ child.get_link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                <hr>
            {% endfor %}
            {% if logged_in %}
            <li><a href="{{ logout_url }}">Log Out {{ user.name }}</a></li>
            {% endif %}
        </ul>
    </nav>
</div>