<nav class="nav-main row collapse">
    <div class="medium-3 columns text-center"><a href="{{ site.link }}"><span class="text-white">HOOCĄK WAAZIIJA HACI</span><br><span
                class="text-primary">LANGUAGE DIVISION</span></a></div>
    <div class="medium-9 columns">
        <ul class="dropdown menu expanded" data-dropdown-menu>
            {% for item in menu.get_items %}
                <li class="{{ item.classes | join(' ') }} {% if item.get_children %}is-dropdown-submenu-parent{% endif %}">
                    <a href="{{ item.get_link }}">{{ item.title }}</a>

                    {# Get child menu items. #}
                    {% if item.get_children %}
                        <ul class="is-dropdown-submenu">
                            {% for child in item.get_children %}
                                <li class="{{ item.classes | join(' ') }}">
                                    <a href="{{ child.get_link }}">{{ child.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>