<div>
    <div class="title-bar fixed hide-for-large" data-hide-for="large">
        <div class="float-left text-center">
            <a href="{{ site.link }}"><span class="text-center text-white">HOOCĄK WAAZIIJA HACI<br class="show-for-small-only"> <span class="text-primary">LANGUAGE DIVISION</span></span></a>
        </div>

        <div class="float-right" data-open="offCanvas">
            <div class="title-bar-title text-upper">Menu</div>
            <button class="menu-icon" type="button" data-open="offCanvas"></button>
        </div>
    </div>
</div>