{# Content that is put on page before the actual nav #}
<div class="row columns clearfix pre-nav-header">
    <div class="float-left inline-fa-list">
        {% include 'partials/contact-info.twig' %}
    </div>

    {% if logged_in %}
        <div class="user-logged-in text-right">
            <small>Welcome</small><br/>
            {{ user.name }} <br/>
            <a href="{{ logout_url }}">
                <small>Log Out</small>
            </a>
        </div>
    {% endif %}

    <div class="float-right">
        <nav class="nav-social-media">
            <ul class="menu">
                {% for icon in fn('get_social_media_icons') %}
                    {% if icon.link %}
                        <li>
                            <a href="{{ icon.link }}" title="{{ icon.title }}">
                                <i class="fa fa-2x fa-{{ icon.icon }}" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </nav>
    </div>
</div>