.article-content {
  margin: 50px 0;
}

.article-content a {
  color: $secondary-color;

  &:hover {
    color: $primary-color;
  }
}

// HOMEPAGE GOOGLE MAP AND FACEBOOK PLUGIN AREA
.google-map-facebook {
  padding: rem-calc(30) 0;
  background-color: $primary-color;
}

.facebook-plugin {
  margin-top: 40px;
  @include breakpoint(large) {
    margin-top: 0;
  }
}