.featured-content {
  padding: rem-calc(20) 0;
  background-color: $light-gray;

  & .columns {
    padding: 1rem;
  }

  & .content {
    border: rem-calc(1) solid scale-color($light-gray, $lightness: -10%);
    background-color: $white;
    position: relative;
    padding-bottom: 55px;
 }

}

.top-image-featured-content img{
  width: 100%;
}

.info-card-link {
  position: absolute;
  bottom: 0px;
  width: 100%;
  min-height: rem-calc(50);
  border-top: 1px solid $light-gray;
  border-bottom: 1px solid $light-gray;
  background: scale-color($light-gray, $lightness:50%);
  transition: all .2s;
  vertical-align: middle;

  & a {
    line-height: 3;
    display: block;
    color: $black;
  }

  & audio{
    margin: 5px auto 0 auto;
    width: 100%;
    max-width: 300px;
    padding: 0 rem-calc(5);
    display: block;

    @include breakpoint(medium){
    margin: 10px auto 0 auto;
  }

  }
}

.info-card-link:hover {
  background: $alert-color;
  color: $white;

  & a {
    color: $white;
  }
}

.text-featured-content {
  padding: rem-calc(15);

}

.small-pattern-divider {
  height: rem-calc(35);
  background: #fff url('../img/seperator-strip.gif') repeat-x center center;
}

.featured-video {
  padding-bottom: 65%;
}

.admin-edit {
  background-color: rgba(scale-color($primary-color, $lightness: 30%), .5);
  padding: 5px;
  margin: 3px 8px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 5;
}