// General footer styles
#footer a {
  color: $light-gray;

  &:hover {
    color: $white;
  }
}

#footer hr {
  margin: .3rem auto;
}

// Styling the email signup section.
// For form styles see the _forms.scss.
.email-signup {
  padding: rem-calc(30) 0;
  background-color: $primary-color;
  color: $white;
}

.email-signup h4 {
  display: inline;
}

.pattern-divider {
  height: rem-calc(58);
  background: #fff url('../img/bottom-strip.gif') repeat-x center center;
}

//Styling for the footer-info section. (the dark area)
.footer-info {
  padding: rem-calc(50) 0;
  background-color: $dark-gray;
  color: $light-gray;
}

.footer-info .fa-ul {
  max-width:280px;
  margin-top: rem-calc(20);
  margin-left: rem-calc(45);

  & li {
    height: 5em;
    margin-bottom: rem-calc(0);
    padding: rem-calc(5) 0;

    @include breakpoint(medium) {
      margin-bottom: rem-calc(20);
    }
  }
}

.footer-info h5 {
  display: block;
  margin-top: rem-calc(25);
  border-bottom: 2px solid $primary-color;

  @include breakpoint(medium) {
    display: inline-block;
    margin-top: 0px;
  }
}

.footer-info-inner {
  padding: 0 1.5rem;
}

// Styling the footer Icons.
.social-footer {
  position: static;

  @include breakpoint(medium) {
    position: absolute;
    bottom: rem-calc(70);
  }
}
.footer-bottom {
  background-color: $black;
  color: white;
  padding: 0.5rem;
}