.gform_validation_container {
  display: none;
}

#gform_wrapper_3,
#gform_wrapper_4,
#gform_wrapper_5,
#gform_wrapper_6,
#gform_wrapper_7,
#gform_wrapper_8 {

  .name_first, .name_last {
    @include grid-column(6);
  }
  .name_first {
    padding: 0 .5rem 0 0;
    @media screen and (min-width: 40em) {
      padding: 0 .5rem 0 0;
    }
  }
  .name_last {
    padding: 0;
    @media screen and (min-width: 40em) {
      padding: 0;
    }
  }
  input[type="text"], select, textarea {
    height: 1.2rem !important;
    font-size: 0.8rem !important;
  }
  textarea {
    font-size: 0.8rem !important;
  }
  li.gfield {
    margin-top: 0 !important;
  }
  .gform_footer {
    margin-top: 0 !important;
    padding-top: 0 !important;
  }

  & label.gfield_label, label.gfield_label_before_complex {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  & input[type="submit"] {
    @include button(true, $primary-color, $secondary-color, $white);
    transition: all 0.2s;
    @include breakpoint(medium) {
      max-width: 10rem;
    }
  }
}
#gform_wrapper_6,
#gform_wrapper_7 {
  & input[type="submit"] {
    @include breakpoint(medium) {
      max-width: 30rem;
    }
  }
}

#gform_wrapper_4 {
  .gf_left_half, .gf_right_half {
    @include grid-column(6);
  }
  .gf_left_half {
    padding: 0 .5rem 0 0;
    @media screen and (min-width: 40em) {
      padding: 0 .5rem 0 0;
    }
  }
  .gf_right_half {
    padding: 0;
    @media screen and (min-width: 40em) {
      padding: 0;
    }
  }
}

#gform_wrapper_8 {
  #field_8_6, #field_8_5 {
    @include grid-column(6);
  }
  #field_8_6 {
    padding: 0 .5rem 0 0;
    @media screen and (min-width: 40em) {
      padding: 0 .5rem 0 0;
    }
  }
  #field_8_5 {
    padding: 0;
    @media screen and (min-width: 40em) {
      padding: 0;
    }
  }
  #field_8_9 {
    @include grid-column(12);
  }
  #field_8_10 {
    @include grid-column(12);
  }
}

.gform_wrapper {
  width: 100%;
  padding-top: .7rem;
}

.gform_wrapper ul.gform_fields, .gform_wrapper ul.gfield_checkbox, .gform_wrapper ul.gfield_radio {
  margin: 0 !important;
  list-style-type: none;
}

.validation_message {
  background: rgba($alert-color, 1);
}