.gamezCanvas {
  width: 100%;
  height: 100%;
}
.gamezCanvasIE {
  width: 1200px;
  height: 600px;
}
#gamezCanvasOverlay {
  position: absolute;
  left: 600px;
  top: 0;
}
.gamez {
  //background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0) ), url('../img/games-bg.png') no-repeat top left;
  background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0) );
  background-color: dimgray;
  //background-size: cover;
  max-width: 1200px;
  max-height: 600px;
  position: absolute;
  z-index: 1;
  margin-top: 3%;
  box-shadow: 0 0 15px $black;
}
.gamez-family {
  //background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0) ), url('../img/games-bg.png') no-repeat top left;
  //background-size: cover;
  background-color: $black;
  max-width: 1200px;
  max-height: 787px;
  position: absolute;
  z-index: 1;
  margin-top: 1.5%;
  box-shadow: 0 0 15px $black;
}

.twoCanvasWrapper {
  position: relative;
  max-width: 1200px;
  max-height: 600px;
}

.random-class body{
  display: none;
}
#game-progress {
  padding: 40px 40px 0 40px;
}
#moreGames {
  box-shadow: 0 0 15px $black;
  white-space: nowrap;
  background-color: rgba(1, 162, 166, 1);
  padding: 5px;
  margin: 3px 8px;
  border-radius: 5px;
  position: absolute;
  left: 90%;
  top: 101%;
  z-index: 5;
  a {
    color: white;
    &:hover {
      color: #ef3f87;
    }
  }

}
.share {
  border-left: 2px solid $primary-color;
}