// styling the Slideshow section.
// Separates the slideshow from the top bar and pre-content block.
.hero{
  position: relative;
  margin: rem-calc(10) 0;
  overflow:hidden;
  max-height: 530px;
}
.hero.games {
  max-height: 720px;
}
.hero.games-family {
  max-height: 830px;
}



// Positioning the logo in the middle of the slideshow.
.hero-logo {
  position: absolute;
  //float: left;
  top: 1rem;
  z-index: 2;
  width: 100%;
  //padding: 3.5vw 0;

  @include breakpoint(large){
    top: 2rem;
  }
}

.hero-logo img{
  top: 0;
  display: block;
  margin: 0 auto;
  width: 30%;
  max-width: rem-calc(480);
}

$slick-loader-path: "../img/";