.letter-buttons {
  display: none;
  .letter-button {
    width: rem-calc(40);
    height: rem-calc(40);
    padding: 0.5rem 0.3rem;
    span {
      user-select: none;
      font-size: 1.4em;
      font-weight: 700;
    }
  }
}
