.acf-map {
  width: 100%;
  height: 500px;
}

/* fixes potential theme css conflict */
.acf-map img {
  max-width: inherit !important;
}
.der {
  color: black;
}
.location-block {
  padding: 1rem;
  span {
    font-weight: bold;
  }
}