/**
 * Off canvas nav
 */
// Make off canvas nav the full height
.off-canvas {
  height: 100%;
}

.off-canvas a{
  color: $light-gray;

  &:hover{
    color: $white;
  }
}

.header {
  background-color: $medium-gray;
}

.header, .header a{
  color: $white;
}

.header a:hover{
  color: scale-color($secondary-color, $lightness: 10%);
}

.pre-nav-header,
.nav-main{
  padding: rem-calc(8) 0;
}

.pre-nav-header{
  border-bottom: 1px solid $white;
}

// Styles the Font-awesome components, affects _nav.scss and _footer.scss
.nav-social-media .fa {
  color: $light-gray;

  &:hover {
    color: $white;
  }
}

//------------------------------
// Styles for dropdown menus
//------------------------------
.is-dropdown-submenu{
  background-color: $medium-gray;
  z-index: 1001;
  margin-left: 0;
}

.is-dropdown-submenu > .menu-item{
  border-top: $light-gray 1px solid;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: $white transparent transparent;
}

nav.nav-off-canvas {
  .menu.vertical {
    hr {
      border-color: $white;
      margin: 0;
    }
  }
}
