// Styles for the blue bar before the content.
.pre-featured-content {
  background-color: $primary-color;
  padding: rem-calc(30) 0;
  box-shadow: 0 rem-calc(5) rem-calc(40) rem-calc(4) rgba($black, .4);

  & h5 {
    width: 130px;
    display: inline-block;
    color: $white;
  }

  & i {
    //display: block;
    color: $medium-gray;
    transition: all, .2s ease;
  }

  & i:hover {
    color: $dark-gray;
    transform: scale(1.1);
  }
  @include breakpoint(medium){

    & h5 {
      width: auto;
      padding-top: rem-calc(15);
    }

    & i {
      display: block;
    }
  }

}

.pre-featured-content .medium-4:nth-of-type(2){
  padding-top: 20px;
  padding-bottom: 25px;

  @include breakpoint(medium){
    padding-top: 0;
    padding-bottom: 0;
  }
}

.pre-featured-content h2,
.pre-featured-content h4{
  padding: 0;
  margin: 0;
}