.question_media_display {
  dl {
    display: none;
  }
}
.type-lesson, .quiz-questions, .course {
  .button {
    &:hover {
      color:white;
    }
  }
}
.sensei-content-start {
  margin-top: 2rem;
}
.sensei-content-start a {
  color: #ed2a7a;
}