$survey-widget-form-height: 900px;

// ---------------------------------------
//  Survey Widget
// ---------------------------------------
.survey-widget {
  z-index: 9998;

  &.sticky {
    position: fixed;
    top: 0;
  }

  @include breakpoint(large) {
    width: 410px;
  }
}

.survey-widget.open .survey-widget-form {
  height: $survey-widget-form-height;
  @include breakpoint(large) {
    left: 0;
    width: 410px;
    height: $survey-widget-form-height;
  }
}

.survey-widget.open .survey-widget-button {
  .fa {
    transform: rotate(-180deg);
  }

  @include breakpoint(large) {
    left: -150px;
  }
}

// ---------------------------------------
//  Survey Widget Button
// ---------------------------------------
.survey-widget-button {
  width: 100%;
  padding: .5rem 1rem;
  background-color: $primary-color;
  font-family: $body-font-family;
  font-weight: bold;
  font-size: 1rem;
  color: $white;
  text-transform: uppercase;
  transition: left .5s ease;

  // Move button to side.
  @include breakpoint(large) {
    position: fixed;
    width: 230px;
    top: 200px;
    left: -83px;
    box-shadow: 0 0 10px rgba($black, .5);
    transform: rotate(-90deg);
    transform-origin: bottom;
    z-index: 9999;
  }
  span {
    color: $medium-gray;
  }
  .fa {
    transition: transform ease .5s;
  }
}

// ---------------------------------------
//  Survey Widget Form
// ---------------------------------------
// Basic form styling
.survey-widget-form {
  padding: 0 1rem;
  position: relative;
  height: 0;
  background-color: rgba($white, .9);
  overflow: hidden;
  transition: height ease .5s,
  left ease .5s;

  // Move to side.
  @include breakpoint(large) {
    position: fixed;
    left: -500px;
    top: 90px;
    height: $survey-widget-form-height;
    width: 410px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba($black, .5);
    z-index: 6;
  }
  //.gfield_checkbox li {
  //  float: left;
  //}
}

.survey-widget-form button.close {
  position: absolute;
  right: 8px;
  top: 7px;
  font-size: 1.25rem;
  color: $medium-gray;
}