// Styling the tabs for the learning materials
.tabs{
  border-bottom: 0px;
}

.tabs-title:focus, .tabs-title:active,
.tabs-title > a:focus, .tabs-title > a:active{
  background-color: $white;
}

.tabs-content{
  content: ' ';
  display: block;
  border-top: 1px solid $medium-gray;
}

.tabs .center-tabs {
  @include breakpoint(medium){
  display: inline-flex;
    width: 75%;
  }
}

.tabs-title{
  border: 1px solid transparent;
  border-top: 3px solid transparent;
  transition: all 0s;

  & > a{
    transition: all 0s;
  }

  &.is-active{
    background-color: $white;
    border: 1px solid $medium-gray;
    border-top: 3px solid $secondary-color;
    position: relative;
    top: 1px;

    @include breakpoint(medium){
      border-bottom: 1px solid $white;
    }
  }
}

.tabs-title > a{
  color: $black;
}

.to-top{
  background-color: rgba($primary-color, 0.4);
  color: $white;
  width: 100%;
  padding: 1rem 2rem;
  cursor: pointer;
}

.flex-video {
  margin-bottom: 0;
}
.youtube-playlist-heading {
  background-color: #01a2a6;
  padding: rem-calc(10) 0;
  h2 {
    color: white;
  }
}