// ---------------------------------------
//  General helper classes
// ---------------------------------------
a {
  transition: all .2s ease;
}

.text-upper {
  text-transform: uppercase;
}

.text-primary {
  color: $primary-color;
}

.text-secondary {
  color: $secondary-color;
}

.text-black {
  color: $black;
}

.text-white{
  color: $white;
}

.article-h1{
  color: $medium-gray;
}

h1, h2, h3, h4, h5, h6{
  & a {
    color: $primary-color;
  }
}
// ---------------------------------------
// Inline list using font-awesome as icons
// ---------------------------------------
.inline-fa-list ul,
.inline-fa-list .fa-ul{
  margin-left: 0px;
  margin-bottom: 0px;
}

.inline-fa-list ul li{
  display: inline;
}

.inline-fa-list ul li .fa{
  display: inline-block;
  position: static;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}