{# Shows contact information from the option post type
    Included On:    + navigation/pre-nav-header.twig
                    + footer.twig
#}
<ul class="fa-ul contact-info">
    <li class="contact-address">
        {# Address #}
        <i class="fa fa-li fa-2x fa-map-marker text-primary" aria-hidden="true"></i>
        <a href="https://www.google.com/maps/place/43%C2%B048'57.5%22N+90%C2%B004'19.6%22W/@43.815968,-90.072124,15z/data=!4m5!3m4!1s0x0:0x0!8m2!3d43.815968!4d-90.072124" target="_blank">
        {{ option.address_street }}
        {{ option.address_city }} {{ option.address_state }}, {{ option.address_zip }}</a>
    </li>
    <li class="contact-phone">
        {# Phone #}
        <a href="tel:1{{ fn('format_phone', option.phone) }}">
            <i class="fa fa-li fa-2x fa-phone text-primary" aria-hidden="true"></i>
            {{ option.phone }}
        </a>
        <a href="tel:1{{ fn('format_phone', option.phone_800_number) }}">
            <i class="fa fa-li fa-2x fa-phone text-primary" aria-hidden="true"></i>
            {{ option.phone_800_number }}
        </a>
    </li>
    <li class="contact-fax">
        {# Phone #}
        <a href="tel:1{{ fn('format_phone', option.phone) }}">
            <i class="fa fa-li fa-2x fa-fax text-primary" aria-hidden="true"></i>
            {{ option.fax }}
        </a>
    </li>
</ul>