<div class="letter-buttons">
    <div data-letter="ą" class="letter-button button" id="typeChar1" data-char="">
        <span>ą</span>
    </div>
    <div data-letter="Ą" class="letter-button button" id="typeChar2" data-char="">
        <span>Ą</span>
    </div>
    <div data-letter="ǧ" class="letter-button button" id="typeChar3" data-char="">
        <span>ǧ</span>
    </div>
    <div data-letter="Ǧ" class="letter-button button" id="typeChar4" data-char="">
        <span>Ǧ</span>
    </div>
    <div data-letter="į" class="letter-button button" id="typeChar5" data-char="">
        <span>į</span>
    </div>
    <div data-letter="Į" class="letter-button button" id="typeChar6" data-char="">
        <span>Į</span>
    </div>
    <div data-letter="š" class="letter-button button" id="typeChar7" data-char="">
        <span>š</span>
    </div>
    <div data-letter="Š" class="letter-button button" id="typeChar8" data-char="">
        <span>Š</span>
    </div>
    <div data-letter="ų" class="letter-button button" id="typeChar9" data-char="">
        <span>ų</span>
    </div>
    <div data-letter="Ų" class="letter-button button" id="typeChar10" data-char="">
        <span>Ų</span>
    </div>
    <div data-letter="ž" class="letter-button button" id="typeChar11" data-char="">
        <span>ž</span>
    </div>
    <div data-letter="Ž" class="letter-button button" id="typeChar12" data-char="">
        <span>Ž</span>
    </div>
</div>
