<section class="featured-content">
    <div class="content-inner row">
        <ul class="tabs text-center" data-tabs id="learning-tabs">
                <span class="center-tabs">
                    {# Loops through the adl_learning_difficulty taxonomy and creates tabs based on the names. #}
                    {% for level in difficulty %}
                        <li class="tabs-title {{ loop.first ? 'is-active' }} small-12 medium-3"><a
                                    href="#{{ level.slug|lower }}">{{ level.name }}</a></li>
                    {% endfor %}
                </span>
        </ul>

        <script type="text/javascript">
            var isIE10 = false;
            /*@cc_on
             if (/^10/.test(@_jscript_version) || /^9/.test(@_jscript_version)) {
             isIE10 = true;
             }
             @*/

            if (isIE10) {
                var learning_tabs_ul = $("#learning-tabs");
                learning_tabs_ul.removeClass("text-center");
                learning_tabs_ul.addClass("text-left");
            }

        </script>

        {# Looks through the custom post type adl_learning to find activities for each difficulty. #}
        <div class="tabs-content" data-tabs-content="learning-tabs">
            {% for level in difficulty %}
                <div class="tabs-panel {{ loop.first ? 'is-active' }}" id="{{ level.slug|lower }}">
                    <div class="tab-panel-inner medium-up-2 large-up-3 row" data-equalize-on="medium" data-equalizer data-equalize-by-row="true">
                        {% for item in learning_activity|reverse if item.has_term(level.name) %}
                            {% include 'partials/three-info-card.twig' with{
                            'type'          : item.learning_medium|lower,
                            'image'         : item.main_image,
                            'image2'        : item.secondary_image,
                            'title'         : item.title,
                            'text'          : item.content,
                            'image_link'    : item.image,
                            'document'      : item.get_field('document'),
                            'href'          : item.href,
                            'audio'         : item.get_field('audio_clip'),
                            'video'         : item.video,
                            'link_text'     : item.link_text,
                            'addl_res'      : item.get_field('additional_resource'),
                            } %}
                            {#  Quick note on link_text:
                                {{ foo ?: 'no' }} is the same as {{ foo ? foo : 'no' }} #}
                        {% endfor %}
                    </div>
                </div>
            {% endfor %}
            <div class="to-top hide-for-medium float-right text-center">
                <i class="fa fa-chevron-circle-up fa-2x"></i><br>To Top
            </div>
        </div>
    </div>
</section>
