{# Schema information: http://www.whitespark.ca/blog/post/62-the-json-ld-markup-guide-to-local-business-schema #}
<script type="application/ld+json">
    {
	    "@context": "http://schema.org",
		"@type": "School",
		"name": "{{ site.title }}",
		"location": {
		    "@type": "Place",
			"name": "{{ site.title }}",
			"address": {
			    "@type": "PostalAddress",
				"streetAddress": "N4845 Hwy. 58, P.O. Box 390 ",
				"addressLocality": "Mauston",
				"addressRegion": "Wisconsin",
				"postalCode": "53948"
			}
		},
		"logo": "{{ theme.link }}/img/logo.png",
		"sameAs": [
		    "https://www.facebook.com/HoocakAcademy",
			"https://www.youtube.com/channel/UCIsT207S9iCdPpwxbNWqJ4Q"
		],
		"additionalType": "http://www.productontology.org/doc/Ho-Chunk",
		"telephone": "(608) 847-7203",
		"url": "{{ site.link }}"
	}

</script>