<div class="survey-widget">
    <button class="survey-widget-button">
        Take Our <span>Survey</span> <i class="fa fa-chevron-down" aria-hidden="true"></i>
    </button>
    <div class="survey-widget-form">

        <button class="close show-for-large">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </button>

        {{ fn('gravity_form', 8, false, false, false, "", true, 25) }}
    </div>
</div>