{# Three icons that appear instead of the title
    Included on:    +front-page.twig
                    +404.twig
 #}

{% if icon %}
    <div class="medium-4 columns text-center">
        <div class="content">
            <a href="{{ href }}">
                <i class="fa {{ icon }} fa-4x"></i>
                <h5 class="text-upper text-white">{{ link_text }}</h5>
            </a>
        </div>
    </div>
{% else %}
    {{ post.pre_content }}
{% endif %}