{# The featured card that is placed after the content on pages
    Included on:    +front-page.twig
                    +page-learining-materials.twig

#}
<div class="columns text-center">
    <div class="content" data-equalizer-watch>

        {#{% if fn('current_user_can','edit_posts') %}#}
            {#<div class="admin-edit float-right">#}
                {#<a href="{{ fn('get_edit_post_link', item.ID) }}">Edit <i class="fa fa-pencil-square"></i></a>#}
            {#</div>#}
        {#{% endif %}#}

        {% if type == 'document' %}
            {% set href = document.url %}
            {% if not link_text %}
                {% set link_text = 'Download PDF' %}
            {% endif %}
        {% elseif type == 'image' %}
            {% set href = TimberImage(image_link).src %}
        {% elseif type == 'video' and not href %}
            {% set href = video %}
            {% if not link_text %}
                {% set link_text = 'Watch On Youtube' %}
            {% endif %}
        {% endif %}

        <div class="top-image-featured-content">
            {% if type == 'video' %}
                <div class="featured-video flex-video">
                    {{ item.get_field('video') }}
                </div>
            {% else %}
                {% if type and type != 'audio' %}<a href="{{ href }}">{% endif %}
                <img class="lazyload" src="{{ theme.link }}/img/lqip-365.png" data-src="{{ TimberImage(image).src|resize(365, 239) }}">
                {% if type and type != 'audio' %}</a>{% endif %}
            {% endif %}
            {% if image2 %}
                <img class="lazyload" src="{{ theme.link }}/img/lqip-365.png" data-src="{{ TimberImage(image2).src|resize(365) }}">
            {% else %}
                <div class="small-pattern-divider"></div>
            {% endif %}
        </div>

        <div class="text-featured-content">
            {% if type %}
                <h4 class="text-black">{{ title }}</h4>
            {% else %}
                <p class="text-left">{{ text }}</p>
            {% endif %}
            {% if addl_res %}
                {# Only one repeater row allowed. So, accessing [0] here. #}
                <h5><a href="{{ addl_res[0].link }}" target="_blank">{{ addl_res[0].label }}</a></h5>
            {% endif %}
        </div>

        <div class="info-card-link text-upper">
            {% if type == 'audio' %}
                <audio controls preload="none">
                    <source src="{{ audio.url }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
            {% else %}
                <a href="{{ href }}" {{ type=='document' or type=='image' ? 'target="_blank"' }}>
                    {{ link_text ?: 'Learn More' }}
                </a>
            {% endif %}
        </div>

    </div>
</div>