{% extends "base.twig" %}

{# HERO SLIDER #}
{% block slider %}
    <section class="hero">
        {{ slick_slideshow(1724) }}
        <div class="hero-logo"><a title="{{ site.description }}" href="{{ site.link }}">
                <img src="{{ TimberImage(theme.link~'/img/logo-outline.png').src }}"></a>
        </div>
    </section>
{% endblock %}

{% block before_content %}
    <div class="pre-featured-content">
        <div class="pre-content-inner row">
            {# in #}
            {% include 'partials/three-icon-row.twig' with{
            'icon': 'fa-calendar',
            'href':'/',
            'link_text': 'Join Us<br>Today',
            } %}
            {% include 'partials/three-icon-row.twig' with{
            'icon': 'fa-gamepad',
            'href':'/',
            'link_text': 'Interacitve<br>Games',
            } %}
            {% include 'partials/three-icon-row.twig' with{
            'icon': 'fa-users',
            'href':'/',
            'link_text': 'Learning<br>Materials',
            } %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body text-center">
                    <h1 class="article-h1">404</h1>
                    <h4>Page Not Found</h4>
                    Sorry, we couldn't find what you're looking for.<br>
                    <a href="{{ site.link }}">Click here to return to Hooc&#261;k Academy</a>
                </div>
            </section>
        </article>
    </div>
{% endblock %}