{% block html_head_container %}

    {% include 'html-header.twig' %}
    {% block head %}
    {% endblock %}
    </head>
{% endblock %}

<body class="{{ body_class }}" data-template="base.twig">

<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        {# OFF CANVAS MENU #}
        <nav class="nav-off-canvas">
            {% include 'navigation/nav-off-canvas.twig' %}
        </nav>

        <div class="off-canvas-content" data-off-canvas-content>
            {# TOP BAR #}
            {% include 'navigation/nav-top-bar.twig' %}

            {# SURVEY BAR #}
            {% include 'partials/survey-bar.twig' %}

            <header class="header show-for-large">
                {% block header %}
                    {% include 'navigation/pre-nav-header.twig' %}
                    {% include 'navigation/nav-main.twig' %}
                {% endblock %}
            </header>

            {# HERO SLIDER #}
            {% block slider %}

                {% if not post.slider == '' %}
                    <section class="hero">
                        {{ slick_slideshow(post.slider) }}
                        <div class="hero-logo">
                                <img src="{{ TimberImage(theme.link~'/img/logo-outline.png').src }}">
                        </div>
                    </section>
                {% endif %}

            {% endblock %}

            <section role="main" class="content-wrapper">
                <div class="wrapper {{ sidebar_class }}">

                    {% block before_content %}
                        <div class="pre-featured-content">
                            <div class="pre-content-inner row columns text-center">
                                <h2 class="text-white text-upper">{{ post.title }}</h2>
                                <h4 class="text-black text-upper">{{ post.subheader }}</h4>
                            </div>
                        </div>
                    {% endblock %}

                    {% block content %}
                        Sorry, no content
                    {% endblock %}

                </div>

                {% block after_content %}
                {% endblock %}
            </section>

            {% block footer %}
                <footer id="footer">
                    {% include 'footer.twig' %}
                </footer>
                {{ function('wp_footer') }}

            {% endblock %}
        </div>

    </div> <!-- /.off-canvas-wrapper-inner -->
</div> <!-- /.off-canvas-wrapper -->

{# SCHEMA #}
{% include 'partials/schema.twig' %}

{# EXIT INTENT POPUP CONTENT #}
{#{% include 'partials/exit-intent-popup.twig' %}#}
<script type="text/javascript">
//    bioEp.init({
//        cookieExp: 1
//    });
</script>
</body>
</html>