
<div class="pattern-divider">

</div>
<div class="footer-info">
    <div class="footer-info-inner row">

        <div class="medium-4 columns">
            <a href="{{ site.like }}"><h4 class="text-center text-white">HOOCĄK WAAZIIJA HACI<br><span class="text-primary">LANGUAGE DIVISION</span></h4></a>
            The Hoocąk Waaziija Haci Language Division is dedicated to ensuring the Hoocąk Language continues to be a
            "LIVING LANGUAGE".

            <div class="social-footer">
                <h5>Follow Us</h5>

                <nav class="nav-social-media">
                    <ul class="menu">
                        {% for icon in fn('get_social_media_icons') %}
                            {% if icon.link %}
                                <li>
                                    <a href="{{ icon.link }}" title="{{ icon.title }}">
                                        <i class="fa fa-3x fa-{{ icon.icon }}" aria-hidden="true"></i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </nav>
            </div>

        </div>

        <div class="medium-4 columns">
            <nav class="nav-main row columns">
                {#<h5 class="text-upper text-white">Academy</h5>#}
                    <ul class="dropdown menu vertical" data-dropdown-menu>
                        {% for item in footer_menu.get_items %}
                            <li class="{{ item.classes | join(' ') }}">
                                <a href="{{ item.get_link }}">{{ item.title }}</a>
                                {# Get child menu items. #}
                                {% if item.get_children %}
                                    <ul class="menu">
                                        {% for child in item.get_children %}
                                            <li class="{{ item.classes | join(' ') }}">
                                                <a href="{{ child.get_link }}" target="_blank">{{ child.title }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </li>
                            {{ loop.last ? '' : '<hr>' }}
                        {% endfor %}
                    </ul>
            </nav>
        </div>

        <div class="medium-4 columns">
            <h5 class="text-upper text-white">Contact Info</h5>
            {% include 'partials/contact-info.twig' %}
        </div>
    </div>
</div>
<div class="footer-bottom text-center">
    <small>&copy; {{ "now"|date('Y') }} Designed and Developed by <a href="https://www.vectorandink.com/" target="_blank">Vector &amp; Ink</a></small>
</div>