{% extends "base.twig" %}

{% block before_content %}
    <div class="pre-featured-content">
        <div class="pre-content-inner row">
            {#Filler content to be filled in with CPT and ACF #}
            {% include 'partials/three-icon-row.twig' with{
            'icon'        : post.icon_1,
            'href'        : post.url_link_1,
            'link_text'    : post.label_1,
            } %}
            {% include 'partials/three-icon-row.twig' with{
            'icon'        : post.icon_2,
            'href'        : post.url_link_2,
            'link_text'    : post.label_2,
            } %}
            {% include 'partials/three-icon-row.twig' with{
            'icon'        : post.icon_3,
            'href'        : post.url_link_3,
            'link_text'    : post.label_3,
            } %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <h1 class="article-h1 text-center text-upper">{{ post.title }}</h1>
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>
    </div>
{% endblock %}

{% block after_content %}
    <section class="featured-content">
        <div class="content-inner row medium-up-3">

            {% include 'partials/three-info-card.twig' with{
            'image'            : post.main_image_1,
            'image2'        : post.sub_image_1,
            'text'            : post.text_area_1,
            'link_text'        : post.link_text_1 ?: 'Learn More',
            'href'            : post.link_1,
            } %}

            {% include 'partials/three-info-card.twig' with{
            'image'            : post.main_image_2,
            'image2'        : post.sub_image_2,
            'text'            : post.text_area_2,
            'link_text'        : post.link_text_2 ?: 'Learn More',
            'href'            : post.link_2,
            } %}

            {% include 'partials/three-info-card.twig' with{
            'image'            : post.main_image_3,
            'image2'        : post.sub_image_3,
            'text'            : post.text_area_3,
            'link_text'        : post.link_text_3 ?: 'Learn More',
            'href'            : post.link_3,
            } %}

        </div>
    </section>
    <div class="google-map-facebook">
        {#<div class="email-signup-inner row">#}
        <div class="column row">
            <div class="large-8 columns">
                {# GOOGLE MAP #}

                {# USING lazysizes WITH unveilhooks PLUGIN TO LAZY LOAD GOOGLE MAP #}
                <div class="lazyload" data-script="{{ theme.link }}/js/google-maps.js"></div>

                <div class="acf-map">
                    <div class="marker" data-lat="{{ post.main_location_latitude }}"
                         data-lng="{{ post.main_location_longitude }}" data-disableDefaultUI=0 data-scrollwheel=0
                         data-center-lat="{{ post.main_location_latitude }}"
                         data-center-lng="{{ post.main_location_longitude }}"
                         data-title="{{ post.main_location_title }}">
                        {{ post.get_field('main_location_details') }}
                    </div>
                </div>

            </div>
            <div class="large-4 columns text-center facebook-plugin">
                <div id="fb-root"></div>

                {# USING lazysizes WITH unveilhooks PLUGIN TO LAZY LOAD FACEBOOK PLUGIN #}
                <div class="lazyload" data-script="{{ theme.link }}/js/fb.js"></div>

                <div class="fb-page" data-href="https://www.facebook.com/HoocakAcademy" data-tabs="timeline"
                     data-small-header="false" data-adapt-container-width="true" data-hide-cover="false"
                     data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/HoocakAcademy" class="fb-xfbml-parse-ignore"><a
                                href="https://www.facebook.com/HoocakAcademy">Hoocak Academy</a></blockquote>
                </div>
            </div>
        </div>
        {#<div class="medium-6 columns text-center"><h4 class="text-upper text-white">Subscribe</h4> to our newsletter</div>#}
        {#<div class="medium-6 columns text-center">{{ fn('gravity_form',2,false,false) }}</div>#}
        {#</div>#}
    </div>
{% endblock %}