{% extends "base.twig" %}

{% block content %}
	<div class="row column">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<div class="article-body">
					{{ post.content }}
				</div>
			</section>
		</article>
	</div>
{% endblock %}

{% block after_content %}

{% endblock %}