{% extends "base.twig" %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>

        <h3>Hoocąk Academy Staff</h3>
        <div class="table-scroll">
            <table class="hover">
                <thead>
                <tr>
                    <th width="300">Hoocąk Academy Staff Name</th>
                    <th width="300">Hoocąk Name</th>
                    <th width="300">Job Title</th>
                    <th width="300">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for staff in post.get_field('hoocak_academy_staff') %}
                    <tr>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.hoocak_name }}</td>
                        <td>{{ staff.job_title }}</td>
                        <td><a href="mailto:{{ staff.email }}">{{ staff.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <strong><a href="http://www.ho-chunknation.com/available-services/personnel/employment-opportunities.aspx" target="_blank">*Find employment opportunities on the Ho-Chunk Nation website</a>.</strong>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}