{% extends "base.twig" %}

{% block content %}
	<div class="row column">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
			<section class="article-content">
				<div class="article-body">
					{{ post.content }}
					<ul class="accordion" data-accordion>
						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Request for K-5 Hoocąk / ANA Language Materials</a>
							<div class="accordion-content" data-tab-content>
								{{ fn('gravity_form', '6') }}
							</div>
						</li>
						<li class="accordion-item" data-accordion-item>
							<a href="#" class="accordion-title">Request for Language Materials</a>
							<div class="accordion-content" data-tab-content>
								{{ fn('gravity_form', '7') }}
							</div>
						</li>
					</ul>

				</div>
			</section>
		</article>
	</div>
{% endblock %}

{% block after_content %}

{% endblock %}