{% extends "base.twig" %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>
        <table class="hover">
            <thead>
            <tr>
                <th width="300">Speaker Name</th>
                <th width="300">Hoocąk Name</th>
                <th width="300">Email</th>
                <th width="300">Location</th>

            </tr>
            </thead>
            <tbody>
            {% for speaker in post.get_field('eminent_speakers')|sort %}
                <tr>
                    <td>{{ speaker.speaker_name }}</td>
                    <td>{{ speaker.hoocak_name }}</td>
                    <td><a href="mailto:{{ speaker.email }}">{{ speaker.email }}</a></td>
                    <td>{{ speaker.location }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}