{% extends "base.twig" %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">

                    <div class="column row">

                        {# GOOGLE MAP #}

                        {# USING lazysizes WITH unveilhooks PLUGIN TO LAZY LOAD GOOGLE MAP #}
                        <div class="lazyload" data-script="{{ theme.link }}/js/google-maps.js"></div>

                        <div class="acf-map">

                            {% for location in post.get_field('locations') %}

                                <div class="marker" data-lat="{{ location.latitude }}"
                                     data-lng="{{ location.longitude }}" data-disableDefaultUI=0 data-scrollwheel=0
                                     data-center-lat="{{ location.latitude }}"
                                     data-center-lng="{{ location.longitude }}"
                                     data-address="{{ location.street_address }}, {{ location.city_state_zip }}"
                                     data-title="{{ location.location_title }}">
                                    {{ location.location_details }}
                                </div>

                            {% endfor %}
                        </div>


                    </div>

                    <div class="medium-up-2 large-up-3">
                        {% for location in post.get_field('locations') %}

                            <div class="location-block column">
                                <span>{{ location.location_title }}</span>
                                {{ location.location_details }}
                            </div>

                        {% endfor %}
                        {#{{ post.content }}#}
                    </div>
                </div>
            </section>
        </article>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}