{% extends "base.twig" %}

{% block content %}

    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">


                    {% if (number_of_learners < post.maximum_number_of_learners) %}

                        {{ fn('gravity_form',3,false,false,50) }}
                        <p>Classes are limited to {{ post.maximum_number_of_learners }} students. There are
                            currently {{ number_of_learners }} enrolled.</p>
                        {{ post.content }}

                    {% else %}

                        <h3>Sorry, classes are currently at full capacity.</h3>
                        <p>Classes are limited to {{ post.maximum_number_of_learners }} students.</p>

                    {% endif %}


                </div>
            </section>
        </article>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}