{% extends "base.twig" %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    <div class="row column">
                        <div class="large-4 columns">&nbsp;</div>
                        <div class="large-4 columns">
                            {{ login_form }}
                        </div>
                        <div class="large-4 columns">&nbsp;</div>
                    </div>
                    {{ post.content }}
                </div>
            </section>
        </article>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}

{% block footer %}
    {{ parent() }}
    <script>
        (function ($) {
            $("#wp-submit").addClass("button");
        })(jQuery);
    </script>
{% endblock %}
