{% extends "base.twig" %}

{% block content %}
    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>

        <h3>Language Division and Support Staff</h3>
        <table class="hover">
            <thead>
            <tr>
                <th width="200">Language Division and Support Name</th>
                <th width="200">Hoocąk Name</th>
                <th width="200">Job Title</th>
            </tr>
            </thead>
            <tbody>
            {% for staff in post.get_field('language_staff') %}
                <tr>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.hoocak_name }}</td>
                    <td>{{ staff.job_title }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}