{% extends "base.twig" %}

{% block content %}
    <div class="row column">

        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    {{ post.content }}
                </div>
            </section>
        </article>

        <h3>Apprentice Program Staff</h3>
        <div class="table-scroll">
            <table class="hover">
                <thead>
                <tr>
                    <th width="300">Apprentice Staff Name</th>
                    <th width="300">Hoocąk Name</th>
                    <th width="300">Job Title</th>
                    <th width="300">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for staff in post.get_field('apprentice_program_staff') %}
                    <tr>
                        <td>{{ staff.name }}</td>
                        <td>{{ staff.hoocak_name }}</td>
                        <td>{{ staff.job_title }}</td>
                        <td><a href="mailto:{{ staff.email }}">{{ staff.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <h3>Apprentice List</h3>
        <div class="table-scroll">
            <table class="hover">
                <thead>
                <tr>
                    <th width="300">Apprentice Staff Name</th>
                    <th width="300">Hoocąk Name</th>
                    <th width="300">Apprentice Location</th>
                    <th width="300">Email</th>
                </tr>
                </thead>
                <tbody>
                {% for apprentice in post.get_field('apprentice_list')|sort %}
                    <tr>
                        <td>{{ apprentice.apprentice_name }}</td>
                        <td>{{ apprentice.hoocak_name }}</td>
                        <td>{{ apprentice.apprentice_location }}</td>
                        <td><a href="mailto:{{ apprentice.email }}">{{ apprentice.email }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block after_content %}

{% endblock %}