{% extends "base.twig" %}

{% block slider %}

    <div class="row">

        <div id="gamez" class="{{ bg_class }}">
            <canvas id="gamezCanvas" class="gamezCanvas" width={{ width }} height={{ height }}></canvas>
            <div id="moreGames"><a href="{{ site.link }}/learning-materials/?tab=games">More Games</a></div>
        </div>


    </div>

    {% if post.id == 536 %}
        <section class="hero games-family">
            {{ slick_slideshow(post.slider, 870) }}
        </section>
    {% else %}
        <section class="hero games">
            {{ slick_slideshow(post.slider, 650) }}
        </section>
    {% endif %}

{% endblock %}

{% block content %}

    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">



            <section id="game-progress">

            </section>
            <section class="article-content row">

                <div class="article-body large-6 columns">
                    {{ post.content }}
                </div>
                <div class="share large-6 columns">
                    <p>Like this game? Share it with your friends!</p>
                    <iframe src="https://www.facebook.com/plugins/share_button.php?href={{ post.link|url_encode }}&layout=button_count&size=large&mobile_iframe=true&width=84&height=28&appId" width="84" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                </div>

            </section>
        </article>
    </div>
{% endblock %}

{% block after_content %}
    {% include 'partials/learning-activity-tabs.twig' %}

    <script type="text/javascript">
        var isIE10 = false;
        /*@cc_on
         if (/^10/.test(@_jscript_version) || /^9/.test(@_jscript_version)) {
         isIE10 = true;
         }
         @*/

        if (isIE10) {
            var gamez_canvas = $("#gamezCanvas");
            gamez_canvas.css("width", {{ width }});
            gamez_canvas.css("height", {{ height }});
        }

    </script>

{% endblock %}
