{% extends "base.twig" %}

{% block content %}

    <div class="row column">
        <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
            <section class="article-content">
                <div class="article-body">
                    {{ post.content }}
                </div>
                <div class="article-body row medium-up-2 text-center medium-text-left">
                    {% for item in post.get_field('image_content') %}
                        <div class="column">
                            <div class="row">
                                <div class="medium-5 columns">
                                    <div class="float-center">
                                        {% if item.picture %}
                                            <img src="{{ TimberImage(item.picture).src|resize(220) }}"/>
                                        {% else %}
                                            <img src="{{ TimberImage(theme.link~'/img/placeholder.png').src }}"/>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="medium-7 columns">
                                    {{ item.info }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </article>
    </div>
{% endblock %}