{% if post.learning_medium|lower == 'audio' %}
    Audio
{% elseif post.learning_medium|lower == 'document' %}
    Document
{% elseif post.learning_medium|lower == 'image' %}
    Image
{% elseif post.learning_medium|lower == 'video' %}
    Video
{% else %}
    Link
{% endif %}